*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #1E1E1E; 
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5; 
    font-size: 16px;
}

#title{
    margin-top: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: #FFD700;
    text-shadow: 0 3px 6px rgb(0, 0, 0);
}




.main-container{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pad-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: auto;
    
}

span{
    text-align: center;
    color: #F5F5F5;
    text-shadow: 0px 3px 6px rgb(0, 0, 0);
}



.pads{
    height: 90%;
    width: 90%;
    background-color: #444; 
    border: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    transition: all 0.07s;
}

.onClick {
    transform: scale(1.1);
    background-color: #FFD700; /* Highlight color for active pad */
    color: #000;
}